{{ 'multi-image.css' | asset_url | stylesheet_tag }}

{% style %}
  .multi-image-introduce .container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
  }
  .image-item--1 {
    grid-area: 1 / 1 / span 2 / span 2;
  }
  .multi-image-introduce .container img {
    max-width: 100%;
  }
  .multi-image-introduce .container .dis-flex {
    display: flex;
  }
  @media (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  @media (max-width: 768px) {
    .multi-image-introduce .container {
      grid-gap: 15px;
    }
  }
{% endstyle %}

<div class="multi-image-introduce">
  <div class="page-width container section-{{ section.id }}-padding">
    {%- for block in section.blocks -%}
      {%- if block.type == 'image' -%}
        {%- if block.settings.introduce_image -%}
          <div id="{{ block.id }}" class="image-item--{{ forloop.index }} dis-flex">
            <img src="{{ block.settings.introduce_image | img_url: "master" }}" alt="image introduce">
          </div>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "multi-image-introduce",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "introduce_image",
          "label": "Introduce Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "image introduce",
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
